body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.messages-container {
    border: 1px solid gray;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 10px;
}
    .messages-container h2 {
        margin: 0;
        font-size: 20px;
        color: blue;
    }
.messages-container .messages-info p{
    margin: 0;
}
